[submodule "dcc.DSC_2017.00121_384_v1"]
	path = dcc.DSC_2017.00121_384_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2017.00121_384_v1.git
	datalad-id = d7fd2d1a-a9ff-4cd2-beeb-6cd9e40e8041
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2017.00121_384_v1.git
[submodule "dcc.DSC_2018.00074_077_v1"]
	path = dcc.DSC_2018.00074_077_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2018.00074_077_v1.git
	datalad-id = 94332fa5-a718-4bfb-b357-adb3aaff0afa
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2018.00074_077_v1.git
[submodule "dcc.DSC_2020.00134_473_v1"]
	path = dcc.DSC_2020.00134_473_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00134_473_v1
	datalad-id = 924d79ed-a681-4d5a-b503-d4f085089a83
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00134_473_v1
[submodule "dccn.DSC_3011038.02_274_v1"]
	path = dccn.DSC_3011038.02_274_v1
	url = https://github.com/Donders-Institute-Data/dccn.DSC_3011038.02_274_v1
	datalad-id = 9efb7de6-99dc-40af-8e4e-a1531a6f7045
	datalad-url = https://github.com/Donders-Institute-Data/dccn.DSC_3011038.02_274_v1
[submodule "dccn.DSC_3011152.03_586_v1"]
	path = dccn.DSC_3011152.03_586_v1
	url = https://github.com/Donders-Institute-Data/dccn.DSC_3011152.03_586_v1
	datalad-id = 74c96a80-a1be-4336-b644-08a6e4ca03b3
	datalad-url = https://github.com/Donders-Institute-Data/dccn.DSC_3011152.03_586_v1
[submodule "dccn.DSC_3031000.00_191_v1"]
	path = dccn.DSC_3031000.00_191_v1
	url = https://github.com/Donders-Institute-Data/dccn.DSC_3031000.00_191_v1
	datalad-id = 89f3aa81-fa79-4329-ac20-98e719bd621f
	datalad-url = https://github.com/Donders-Institute-Data/dccn.DSC_3031000.00_191_v1
[submodule "dcmn.DSC_4180000.18_380_v1"]
	path = dcmn.DSC_4180000.18_380_v1
	url = https://github.com/Donders-Institute-Data/dcmn.DSC_4180000.18_380_v1
	datalad-id = aa571fa0-00e0-4b22-9b5b-d9d103db7028
	datalad-url = https://github.com/Donders-Institute-Data/dcmn.DSC_4180000.18_380_v1
[submodule "dcn.DSC_626830_0001_445_v1"]
	path = dcn.DSC_626830_0001_445_v1
	url = https://github.com/Donders-Institute-Data/dcn.DSC_626830_0001_445_v1
	datalad-id = 3fdbccf1-4355-4c91-834f-df26d6b01dec
	datalad-url = https://github.com/Donders-Institute-Data/dcn.DSC_626830_0001_445_v1
[submodule "dcc.DSC_2016.00230_000_v1"]
	path = dcc.DSC_2016.00230_000_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2016.00230_000_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2016.00230_000_v1
[submodule "dcc.DSC_2016.00298_186_v1"]
	path = dcc.DSC_2016.00298_186_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2016.00298_186_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2016.00298_186_v1
[submodule "dcc.DSC_2017.00054_259_v1"]
	path = dcc.DSC_2017.00054_259_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2017.00054_259_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2017.00054_259_v1
[submodule "dcc.DSC_2018.00127_973_v1"]
	path = dcc.DSC_2018.00127_973_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2018.00127_973_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2018.00127_973_v1
[submodule "dcc.DSC_2019.00036_099_v1"]
	path = dcc.DSC_2019.00036_099_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00036_099_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00036_099_v1
[submodule "dcc.DSC_2019.00056_127_v1"]
	path = dcc.DSC_2019.00056_127_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00056_127_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00056_127_v1
[submodule "dcc.DSC_2019.00087_242_v1"]
	path = dcc.DSC_2019.00087_242_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00087_242_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2019.00087_242_v1
[submodule "dcc.DSC_2020.00034_408_v1"]
	path = dcc.DSC_2020.00034_408_v1
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00034_408_v1
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00034_408_v1
[submodule "dcc.DSC_2020.00034_408_v2"]
	path = dcc.DSC_2020.00034_408_v2
	url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00034_408_v2
	datalad-url = https://github.com/Donders-Institute-Data/dcc.DSC_2020.00034_408_v2
